/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}
body {
    margin: 0;
    height: 100%;
    overflow-y: scroll;
}
html, body {
    height: 100%;
    min-height: 100%;
}
::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
img,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}
a,
a:link,
a:visited,
a:hover,
a:active {
    color: inherit;
    text-decoration: inherit;
    font-weight: inherit;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */
@font-face {
  font-family: 'ave';
  font-weight: 200;
  src: url('../public/fonts/avenir-light.woff') format('woff');
}
@font-face {
  font-family: 'ave';
  font-weight: 400;
  src: url('../public/fonts/avenir-roman.woff') format('woff');
}
@font-face {
  font-family: 'ave';
  font-weight: 500;
  src: url('../public/fonts/avenir-medium.woff') format('woff');
}
@font-face {
  font-family: 'bt';
  font-weight: 400;
  src: url('../public/fonts/bt-regular-webfont.woff') format('woff');
}
@font-face {
  font-family: 'bt';
  font-weight: 200;
  src: url('../public/fonts/bt-light-webfont.woff') format('woff');
}

$swift-ease-out-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
$swift-ease-in-timing-function: cubic-bezier(0.55, 0, 0.55, 0.2);
$swift-ease-in-out-timing-function: cubic-bezier(0.35, 0, 0.25, 1);


////////////////////////////// ---- MIXINS ---- //////////////////////////////
@mixin clearfix {
    &:before,
    &:after {
        content: "";
        display: table;
    }
    &:after {
        clear: both;
    }
}
@mixin box-sizing($box-model) {
  -webkit-box-sizing: $box-model; // Safari <= 5
     -moz-box-sizing: $box-model; // Firefox <= 19
          box-sizing: $box-model;
}

@mixin vertical-align {
    top: 50%;
    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    transform: translate(0, -50%);
}
@mixin horizontal-align {
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}
@mixin center-align {
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
@mixin bg-image($position) {
    background-repeat: no-repeat;
    background-position: $position;
}
@mixin fadeInLeft($amount) {
    -webkit-transform: translateX($amount);
    -moz-transform: translateX($amount);
    -o-transform: translateX($amount);
    -ms-transform: translateX($amount);
    transform: translateX($amount);
    opacity: 0;   
}
@mixin aspect-ratio($width, $height) {
  position: relative;
  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: ($height / $width) * 100%;
  }
  > .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}
@mixin vendor-prefix($name, $argument) {
    -webkit-#{$name}: #{$argument};
    -ms-#{$name}: #{$argument};
    -moz-#{$name}: #{$argument};
    -o-#{$name}: #{$argument};
    #{$name}: #{$argument};
}
@mixin transform-transition ($time) {
    -webkit-transition: -webkit-transform #{$time};
    -ms-transition: -ms-transform #{$time};
    -moz-transition: -moz-transform #{$time};
    -o-transition: -o-transform #{$time};
    transition: transform #{$time};
}
//>>>>>>>>>>>>>>>>>>>>>>>>>> ---- MIXIN END---- <<<<<<<<<<<<<<<<<<<<<<<<<<<<



////////////////////////////// ---- COMMON ---- //////////////////////////////
* {
    font-family: 'ave';
    -webkit-font-smoothing: antialiased;
    @include box-sizing(border-box);
}
.noScroll {
    overflow: hidden;
}

#loader {
    position: relative;
    width: 100%;
    height: 100%;
    @include vendor-prefix(animation, loader-bg-change 4s);

    & > #wavey-loader {
        position: absolute;
        width: 50px;
        height: 50px;
        @include center-align;
        overflow: hidden;

        & > #waves {
            position: absolute;
            width: 200%;
            height: 100%;
            background-size: cover;
            @include bg-image(center);
            @include vendor-prefix(animation, move-waves 1s infinite linear);
        }
    }
}
@-webkit-keyframes loader-bg-change {
    0% {
        background-color: #A6E8D2;
    } 
    45% {
        background-color: #cadffe;
    }
    90% {
        background-color: #EFC38D;
    }
    100% {
        background-color: #f7f7f5;
    }
}
@-moz-keyframes loader-bg-change {
    0% {
        background-color: #A6E8D2;
    } 
    45% {
        background-color: #cadffe;
    }
    90% {
        background-color: #EFC38D;
    }
    100% {
        background-color: #f7f7f5;
    }
}
@-ms-keyframes loader-bg-change {
    0% {
        background-color: #A6E8D2;
    } 
    45% {
        background-color: #cadffe;
    }
    90% {
        background-color: #EFC38D;
    }
    100% {
        background-color: #f7f7f5;
    }
}
@keyframes loader-bg-change {
    0% {
        background-color: #A6E8D2;
    } 
    45% {
        background-color: #cadffe;
    }
    90% {
        background-color: #EFC38D;
    }
    100% {
        background-color: #f7f7f5;
    }
}

@-webkit-keyframes move-waves {
    0% {
        -webkit-transform: translateX(0);
    } 
    100% {
        -webkit-transform: translateX(-50%);
    }    
}
@-moz-keyframes move-waves {
    0% {
        -moz-transform: translateX(0);
    } 
    100% {
        -moz-transform: translateX(-50%);
    }   
}
@-ms-keyframes move-waves {
    0% {
        -ms-transform: translateX(0);
    } 
    100% {
        -ms-transform: translateX(-50%);
    }   
}
@keyframes move-waves {
    0% {
        transform: translateX(0);
    } 
    100% {
        transform: translateX(-50%);
    }   
}


#reactWrap {
    height: 100%;
    background-color: #f7f7f5;
    @include clearfix;
}
#menu-top-bars {
    position: absolute;
    width: 100%;
    height: 10px;
    @include clearfix;
}
.topBar {
    position: absolute;
    width: 100%;
    height: 100%;
    @include vendor-prefix(transition, all 2s);
    @include clearfix;  
}
#desktop-menu-bar {
    position: relative;
    top: 0;
    width: 100%;
    height: 136px;
    background-color: #f7f7f5;
    z-index: 100;
    @include clearfix;
}
#desktop-menu-row-1 {
    width: 100%;
    height: 60px;
    padding-top: 20px;
    border-top: 5px solid #eeeeee;
    @include vendor-prefix(transition, all 0.2s);
    @include clearfix;
}
#desktop-menu-row-3 {
    margin-top: 50px;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    @include clearfix;
}
#desktop-menu-bar-logo {
    margin: 0 auto;
    width: 250px;
    height: 40px;
    @include bg-image(center);
    background-size: contain; 
    -webkit-transition: opacity 0.1s, transform 0.2s;
    -ms-transition: opacity 0.1s, transform 0.2s;
    -moz-transition: opacity 0.1s, transform 0.2s;
    -o-transition: opacity 0.1s, transform 0.2s;
    transition: opacity 0.1s, transform 0.2s;
    opacity: 1;
    @include clearfix;
}

#desktop-menu {
    width: 40%;
    min-width: 500px;
    max-width: 700px;
    padding: 0;
    margin: 0 auto;
    list-style: none;
    font-size: 11px;
    font-weight: 500;
    text-transform: uppercase;
    @include clearfix;
}
#desktop-menu li {
    position: relative;
    float: left;
    width: 30%;
    padding-bottom: 10px;
    text-align: center;
    cursor: pointer;
    @include vendor-prefix(transition, all 0.2s);
    @include clearfix;
}
#desktop-menu a {
    &:after {
        content: '';
        position: absolute;
        left: 50%;
        bottom: -1px;
        width: 0;
        height: 2px;
        @include vendor-prefix(transition, all 0.2s);
        @include clearfix;
    }    
}

#desktop-menu a.active {
    &:after {
        left: 0%;
        width: 100%;
    }
}
#desktop-menu li:hover {
    font-weight: 600;
     @include vendor-prefix(transform, translateY(-4px)); 

    & > a:after {
        bottom: -5px;
    }
}
#desktop-menu li:nth-of-type(1), #desktop-menu li:nth-of-type(2) {
    margin-right: 3.33%;
}
#desktop-menu li:nth-of-type(1) {
    & > a {
        &:after {
          background-color: #A6E8D2;
        }
    }
}
#desktop-menu li:nth-of-type(2) {
    & > a {
        &:after {
          background-color: #cadffe;
        }
    }
}
#desktop-menu li:nth-of-type(3) {
    & > a {
        &:after {
          background-color: #EFC38D;
        }
    }
}
#desktop-menu li:nth-of-type(1):hover {
    color: #A6E8D2;
}
#desktop-menu li:nth-of-type(2):hover {
    color: #cadffe;
}
#desktop-menu li:nth-of-type(3):hover {
    color: #EFC38D;
}
#desktop-menu-bar.scrolled {
    position: fixed;
    height: 61px;
    @include vendor-prefix(transition, all 0.1s); 

    & #desktop-menu-row-1 {
        height: 0;
    }

    & #desktop-menu-row-3 {
        margin-top: 10px;
    }

    & #desktop-menu-bar-logo {
        opacity: 0;
        @include vendor-prefix(transform, translateY(-20px));
     }
}
#desktop-menu-bar.dark {
    background-color: #000000;
    color: #f7f7f5;
    border-bottom: 1px solid rgba(255,255,255,0.1);
}
#sub-menu-bg {
    position: fixed;
    background-color: #f7f7f5;
    top: 50px;
    width: 100%;
    height: 55px;
    z-index: 10;
}
#next-page {
    position: fixed;
    left: 70px;
    bottom: 0;
    width: 100px;
    height: 120px;
    cursor: pointer;
    z-index: 11;
}

#next-page-line {
    position: relative;
    float: left;
    top: 100%;
    width: 3px;
    height: 100%;
    background-color: #ffffff;
    @include vendor-prefix(transition, all 0.2s);
}
#next-page-text {
    position: relative;
    width: calc(100% - 23px);
    letter-spacing: 0.03em;
    top: 0;
    margin-left: 20px;
    float: left;
    color: white;
    text-transform: uppercase;
    font-family: 'brown';
    font-size: 12px;
    font-weight: 800;
    @include vendor-prefix(transition, all 0.2s); 
    @include vendor-prefix(transform, translateY(20px)); 
}
#next-page:hover #next-page-text {
    @include vendor-prefix(transform, translateY(0px)); 

    &:after {
        content: '';
        width: 9px;
        height: 20px;
        background-size: contain;
        @include bg-image(center); 
    }
}

#menu-main-wrap {
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 100;
}
#menu-main-inner {
    position: absolute;
    @include center-align
}
#menu-main-inner ul {
    list-style: none;
    text-align: center;
    padding: 0;
}
#menu-main-inner li {
    color: #ffffff;
    font-size: 26px;
    margin-bottom: 2em;
    cursor: pointer;
}
#menu-main-inner li span {
    border-bottom: 2px solid #ffffff;
}
#side-menu-bar, #top-menu-bar {
    z-index: 102;
}
#side-menu-bar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
}
#top-menu-bar {
    position: fixed;
    width: 100%;
    height: 50px;
}
#top-menu-bg {
    width: 100%;
    height: 100%;
}
#side-menu-bg {
    width: 100%;
    height: 100%;
    @include vendor-prefix(transition, all 0.2s);
}
#menu-button {
    position: absolute;
    top: 20px;
    width: 18px;
    height: 10px;
    cursor: pointer;
    z-index: 101;
}
#side-menu-bar #menu-button {
    top: 20px;
    @include horizontal-align;
}
#top-menu-bar #menu-button {
    left: 16px;
    @include vertical-align;
}
#menu-button span {
    display: inline-block;
    position: absolute;
    top: 0;
    width: 100%;
    height: 2px;
    background-color: #ffffff;
    @include vertical-align;

    &:after, &:before {
        content: '';
        position: absolute;
        width:100%;
        height: 2px;
        background-color: #ffffff;
    }

    &:before {
        top: -4px;
    }
    &:after {
        bottom: -4px;
    }
}
#menu-button.isOpen span {
    @include vendor-prefix(transform, rotate(-45deg));
    &:before {
        top: 0px;
        opacity: 0;
    }
    &:after {
        bottom: 0px;
        @include vendor-prefix(transform, rotate(90deg));
    }
}
#page-title {
    display: none;
}
.text-link {
    position: relative;
    font-weight: 600;
    margin: 0 0.3em;
    @include vendor-prefix(transition, all 0.2s);

    &:after {
        position: absolute;
        bottom: -4px;
        left: 0;
        content: '';
        width: 100%;
        height: 2px;
    }
}
p {
    font-family: 'bt';
    font-size: 14px;
    font-weight: 400;
    line-height: 1.7em;
    color: #666666;
    margin: 0;
}
#house-wrap, #booking-wrap, #gallery-wrap {
    position: relative;
    left: 0px;
    width: 100%;
    background-color: #f7f7f5;
}
.multi-col {
    float: left;
}
//>>>>>>>>>>>>>>>>>>>>>>>>>> ---- COMMON END---- <<<<<<<<<<<<<<<<<<<<<<<<<<<<





////////////////////////////// ---- HEADER ---- //////////////////////////////

#header-image {
    width: 100%;
    height: 100vh;
    background-size: cover;
    @include bg-image(center);
    &:after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(157,219,220,0.81);
        z-index: 1;
    }
}
#intro-vid { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background-size: cover; 
}
#header-logo {
    position: absolute;
    right: 30%;
    width: 235px;
    height: 36px;
    background-image: url(../public/img/logo-white.png);
    background-size: contain;
    @include bg-image(center);
    @include vertical-align;
    z-index: 2;
}

//>>>>>>>>>>>>>>>>>>>>>>>>>> ---- HEADER END---- <<<<<<<<<<<<<<<<<<<<<<<<<<<<





////////////////////////////// ---- HOUSE ---- //////////////////////////////
#house-wrap {
    padding-top: 60px;
    padding-left: 50px;
    max-width: 1600px;
    margin: 0 auto;
    @include clearfix;
}

#intro-img-1 {
    width: calc(100% - 50px);
    @include aspect-ratio(1177, 400);
    @include clearfix;
}
#intro-img-2 {
    float: right;
    width: 47%;
    margin-top: 60px;
    @include aspect-ratio(450, 252);
    @include clearfix;
}
#intro-img-3 {
    width: 62.573099415%;
    margin-right: 3.39%;
    @include aspect-ratio(652, 458);
    @include clearfix;
}
#intro-img-4 {
    width: 34.03%;
    @include aspect-ratio(354, 458);
    @include clearfix;
}
#bed-img-1 {
    width: 43.8596491%;
    @include aspect-ratio(450, 293);
    @include clearfix;
}
#bed-img-2, #bed-img-3, #bed-img-4 {
    width: 28.0701754%;
    @include aspect-ratio(290, 233);
    @include clearfix;
}
#bed-img-2, #bed-img-3 {
    margin-right: 7.8947369%;
    @include clearfix;
}
#outside-img-1 {
    width: 53.216374269%;
    @include aspect-ratio(546, 272);
    @include clearfix;
}
#relaxation-img-1 {
    width: 43.85%;
    @include aspect-ratio(450, 274);
    @include clearfix;
}
.content {
    background-size: cover;
    @include bg-image(center);
}
#intro-inner-wrap, #bedroom-inner-wrap, #outside, #relaxation, #extraInfo {
    width: 100%;
    padding-left: 6.530214426%;
    padding-right: 50px;
    @include clearfix;
}
#intro-top-row {
    position: relative;
    padding-left: 6.432748538%;
    margin-bottom: 3.39%;
    @include clearfix;
}
#intro-text {
    width: 49.6410579%;
    padding: 20px;
    margin-right: 2.6%; 
    background-color: #f7f7f5;
    @include vendor-prefix(transform, translateY(-38px));  
    @include clearfix;
}
#house-content-wrap h1 {
    font-weight: 600;
    color: #3FDEA9;
    font-size: 16px;
    margin: 0 0 2em 0;
    letter-spacing: 0.03em;
    @include clearfix;
}
#bedRow1 {
    margin-top: 100px;
    @include clearfix;
}
#bedRow2 {
    margin-top: 50px;
    margin-bottom: 50px;
    @include clearfix;
}
#bedText {
    width: 32.86%;
    margin-left: 12.2807018%;
    margin-top: 2em;
    @include clearfix;
}
#outside {
    position: relative;
    margin-bottom: 50px;
    @include clearfix;
}
#outsideText {
    position: relative;
    width: 34.502924%;
    margin-left: 9.356725146%;
    margin-right: 2.923976608%;
}
#relaxationText {
    width: 34.502923976%;
    margin-left: 12.280701754%;
    margin-right: 9.356725146%;
}
#extraInfo {
    margin-bottom: 160px;
}
.extraRow {
    margin-top: 50px;
}
#extraRow1 li {
    margin-bottom: 0.3em;
}
#extraRow1 span {
    display: inline-block;
    margin-right: 0.6em;
}
#extraRow2 li {
    position: relative;
    display: inline;
    float: left;
    width: 50%;
    line-height: 2.8em;
}
#extraRow2 span {
    display: inline-block;
}
.extra-col {
    padding-top: 1em;
    border-top: 2px solid #b6bfc9;
}
#extraInfo ul, #extraInfo li {
    list-style: none;
    padding: 0;
    color: #8b8888;
    font-size: 15px;
}
#the-cottage ul {
    margin-top: 50px;
}
#extraInfo .list-bold {
    font-weight: 600;
}
#the-cottage, #amenities {
    width: 53.118908382%;
    margin-right: 2.923976608%;
}
#usefulLinks {
    width: 43.859649122%;
}
#usefulLinks ul {
    float: left;
    width: 36%;
    margin-right: 6.6%;
}
#usefulLinks li.title {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 12px;
}
#usefulLinks li.link {
    text-decoration: underline;
}
.amenities-icon {
    position: absolute;
    width: 30px;
    height: 26px;
    @include bg-image(center);
    background-size: contain;
    @include vertical-align;
}
.amenities-text {
    margin-left: 40px;
}


//>>>>>>>>>>>>>>>>>>>>>>>>>> ---- HOUSE END---- <<<<<<<<<<<<<<<<<<<<<<<<<<<<

////////////////////////////// ---- GALLERY ---- //////////////////////////////
#gallery-main-wrap {
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    padding: 60px 6% 0;
    background-color: #f7f7f5;
    @include clearfix;
}
#gallery-main-wrap h1 {
    position: relative;
    margin-bottom: 32px;
    font-size: 18px;
    font-weight: 600;
    color: #4587e9;
    text-transform: capitalize;
    letter-spacing: 0.07em;
    @include clearfix;

    &:before {
        content: '';
        position: absolute;
        left: -28px;
        top: 0;
        height: 2px;
        width: 18px;
        background-color: #4587e9;
        @include vertical-align;
    }
}
#close-button {
    position: absolute;
    top: 40px;
    right: 40px;
    height: 40px;
    width: 40px;
    cursor: pointer;
    z-index: 100;

    .circle {
      stroke-dasharray: 650;
      stroke-dashoffset: 650;
      @include vendor-prefix(transition, all 0.8s ease-in-out);
      opacity: 0.3;
    }
}
#close-button:hover {
    .circle {
        stroke-dashoffset: 0;
        opacity: 1;
    }
}
#video-row {
    margin-bottom: 47px;
    @include clearfix;
}
#video-image {
    width: 100%;
    @include aspect-ratio(1138, 550);
    @include clearfix;
}
.gallery-thumb-item {
    position: relative;
    float: left;
    width: 21.7047452%;
    margin-right: 4.39367311%;
    margin-bottom: 48px;
    cursor: pointer;
    @include clearfix;

    h2 {
        font-size: 16px;
        color: #cadffe;
        letter-spacing: 0.03em;
        @include clearfix;

        span {
            @include clearfix;
            &:after {
                content: '';
                position: absolute;
                width: 80px;
                height: 2px;
                background-color: #cadffe;
                @include vendor-prefix(transition, all 0.2s);
                @include clearfix;
            }
        }
    }
}
.gallery-thumbnail {
    background-color: #cadffe;
    @include aspect-ratio(247, 189);
    @include clearfix;

    .content {
        @include vendor-prefix(transition, all 0.2s);
    }
}

#see-more-hover {
    opacity: 0;
    position: absolute;
    width: 40px;
    height: 40px;
    @include center-align;

    .circle {
      stroke: #ffffff;
      stroke-dasharray: 650;
      stroke-dashoffset: 650;
      @include vendor-prefix(transition, all 1s ease-in-out);
      opacity: 0.3;
    }
}
.gallery-thumb-item:hover  {
    h2 span:after {
        width: 100px;
    }
    .content {
        opacity: 0.2;
    }
    #see-more-hover {
        opacity: 1;

        .circle {
            stroke-dashoffset: 0;
            opacity: 1;
        }
    }
}
#gallery-slideshow {
    position: absolute;
    width: 80%;
    height: 80%;
    @include center-align;
}
#gallery-slide {
    width: 100%;
    height: 100%;
    @include bg-image(center);
    background-size: cover;
}
#slide-info {
    position: absolute;
    left: -1px;
    bottom: -20px;
    width: 30%;
    height: 20%;
    min-width: 300px;
    background-color: #f7f7f5;
    padding: 20px;
}
#index-wrapper {
    position: relative;
    left: -40px;
    width: 34px;
    height: 34px;
    margin-bottom: 20px;

    &:after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        height: 2px;
        width: 80%;
        background-color: #bbb;
        @include vendor-prefix(transform, translate(-50%, -50%) rotate(-60deg)); 
    }
}
#slide-info h5, #slide-info h2 {
    margin: 0;
}
#slide-info h5 > * {
    font-family: 'bt' !important;
    color: #bbb;
}
#slide-info h2 {
    font-size: 26px;
    font-weight: 200;
}
#slide-info h5 span {
    position: absolute;
}
#slide-info #index-total {
   @include vendor-prefix(transform, translate(20px, 16px)); 
}
#gallery-next, #gallery-prev {
    position: absolute;
    top: 50%;
    height: 20px;
    width: 40px;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
    color: #aaaaaa;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    @include vendor-prefix(transition, all 0.3s ease-in-out 0s);

    > p {
        font-size: 12px;
        font-weight: 600;   
    }

    &:before {
      content: "";
      position: absolute;
      width: 0;
      left: 50%;
      height: 2px;
      bottom: -5px;
      left: 0;
      background-color: #4587e9;
      visibility: hidden;
      @include vendor-prefix(transition, all 0.3s ease-in-out 0s);
      z-index: 1;
    }
    &:after {
      content: "";
      position: absolute;
      width: 100%;
      height: 2px;
      bottom: -5px;
      left: 0;
      background-color: #eeeeee;
    }

    &:hover {
        p {
           color: #4587e9; 
        }

        &:before {
            visibility: visible;
            width: 100%;
        }        
    }


}
#gallery-next {
    right: -71px;
    @include vendor-prefix(transform, translate(0%, -50%) rotate(90deg));
}
#gallery-prev {
    left: -71px;
    @include vendor-prefix(transform, translate(0%, -50%) rotate(-90deg));
}

#play-button {
    position: absolute;
    width: 100px;
    height: 100px;
    @include center-align;
    cursor: pointer;

    .circle {
      stroke: #ffffff;
      stroke-dasharray: 650;
      stroke-dashoffset: 650;
      @include vendor-prefix(transition, all 0.5s ease-in-out);
      opacity: 0.3;
    }
    .triangle {
        @include vendor-prefix(transition, all 0.7s ease-in-out);
        stroke-dasharray: 240;
        stroke-dashoffset: 480;
        stroke: #ffffff;
        transform: translateY(0) 
    }
    &:hover {
        .triangle {
          stroke-dashoffset: 0;
          opacity: 1;
          stroke: #ffffff;
        }
        .circle {
          stroke-dashoffset: 0;
          opacity: 1;
        }
    }

}
#video-player-wrap {
    width:100%;
    height: 100%;
    background-color: rgba(0,0,0,1);
    z-index: 103;
}
.youtube-video{
    position: absolute;
    width: 81%;
    height: 72%;
    @include center-align;
}

//>>>>>>>>>>>>>>>>>>>>>>>>>> ---- GALLERY END---- <<<<<<<<<<<<<<<<<<<<<<<<<<<<



////////////////////////////// ---- BOOKING ---- //////////////////////////////
#booking-wrap {
    padding-top: 60px;
    @include clearfix;
}
#booking {
    margin-bottom: 60px;
    @include clearfix;
}
#booking-contact-buttons {
    position: fixed;
    float: left;
    width: 20.13536379%;
    margin-left: 11.590524534%;
    @include clearfix;
}
#booking-contact-buttons ul {
    list-style: none;
    line-height: 1.2em;
}
#booking-contact-buttons li {
    position: relative;
    font-size: 10px;
    text-transform: uppercase;
    font-weight: 600;
    color: #b6bfc9;
    cursor: pointer;
}
#booking-contact-buttons li.active {
    color: #3a3939;
    margin-left: 30px;

    &:after {
        position: absolute;
        content: '';
        left: -30px;
        width: 20px;
        height: 2px;
        background-color: #3a3939;
        @include vertical-align;
    }
}
#content-wrapper {
    float: left;
    margin-left: 34.26395939%;
    width: 59.221658206%;
}
#bookingRow1,
#contactRow1 {
    margin-bottom: 50px;
    @include clearfix;
}
#contactRow1 {
    border-top: 2px solid #b6bfc9;
}
#bookingRow1 h1, #contactRow1 h1 {
    font-size: 18px;
    margin: 0.6em 0 2em 0;
}
.section-title {
    font-weight: 600;
    color: #EFC38D;
    letter-spacing: 0.07em;
} 
#bookingRow2 h1,
#contact-detail-row h1 {
    font-weight: 600;
    font-size: 11px;
    margin: 0.6em 0 2em 0;
    text-transform: uppercase;
}
#bookingRow2 h1 span {
    padding-top: 8px;
    border-top: 2px solid #EFC38D;
}
#contact-detail-row h1 span {
    padding-bottom: 8px;
    border-bottom: 2px solid #EFC38D;
}
#booking-info {
    width: 63.714285714%;

    .text-link {
        &:hover {
            color: #EFC38D;
        }
        &:after {
            background-color: #EFC38D;
        }
    }
}
#booking-download {
    position: relative;
    width: 27.428571428%;
    margin: 0 3.142857142% 0 5.714285714%;

    &:hover {

        #download-button {
            color: #EFC38D;
            border: 2px solid #EFC38D;
        }
    }
}
#download-innerwrap {
    position: absolute;
    width: 100%;
    @include center-align;
    cursor: pointer;
}
#booking-download h1 {
    margin-top: 0;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.1em;
}
#booking-icon {
    position: absolute;
    top: -2px;
    @include horizontal-align;
    width: 49px;
    height: 24px;
    z-index: -1;
}
#download-button {
    position: relative;
    margin: 0 auto;
    width: 87px;
    padding: 10px 6px;
    font-size: 9px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.1em;
    border: 2px solid #3a3939;
    cursor: pointer;
    @include vendor-prefix(transition, all 0.5s ease-in-out);
}
#price-list {
    padding: 0;
    list-style: none;
}
#price-list span {
    display: inline-block;
}
#price-list li {
    width: 50%;
    float: left;
    line-height: 1.4em;
    margin-bottom: 1.6em;
}
#price-list .prices {
    font-size: 21px;
    font-weight: 600;
    margin-right: 1em;
    padding-bottom: 4px;
}
#price-list {
    font-size: 0.6em;
}
.currency {
    font-size: 0.8em;
}
#contact-detail-row {
    margin-bottom: 30px;
    @include clearfix;
}
#address {
    margin-right: 20%;
}
#contact-detail-row h2 {
    font-size: 14px;
    text-transform: uppercase;
}
#contact-detail-row p {
    margin-top: 29px;
    line-height: 1em;
    @include clearfix;
    span {
        @include clearfix;
    }
}
#map-wrap {
    display: block;
    position: relative;
    width: 100%;
    padding-bottom: 75%;
}
#map-content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

//>>>>>>>>>>>>>>>>>>>>>>>>>> ---- BOOKING END---- <<<<<<<<<<<<<<<<<<<<<<<<<<<<

/* ==========================================================================
   Media Queries
   ========================================================================== */
@media only screen and (min-width: 1601px) {
    #house-wrap p {
        font-size: 17px;
    }
    #house-wrap h1, #bookingRow1 h1, #contactRow1 h1{
        font-size: 21px;
    }
    #intro-text {
        width: 49.6410579%;
        padding: 30px
    }
    #extraInfo li {
        font-size: 16px;
    }
    .gallery-thumb-item:nth-of-type(4n) {
        margin-right: 0;
    }
    #booking-wrap p {
        font-size: 17px;
    }
    #booking-download h1 {
        font-size: 20px;
    }
    #bookingRow2 h1, #contact-detail-row h1 {
        font-size: 14px;
    }
    #price-list .prices {
        font-size: 24px;
    }    
}
@media only screen and (max-width: 1600px) and (min-width: 1450px) {
    #house-wrap p {
        font-size: 17px;
    }
    #house-wrap h1 {
        font-size: 21px;
    }
    .gallery-thumb-item:nth-of-type(4n) {
        margin-right: 0;
    }
    #bookingRow1 h1, #contactRow1 h1{
        font-size: 19px;
    }
    #booking-wrap p {
        font-size: 17px;
    }
    #bookingRow2 h1, #contact-detail-row h1 {
        font-size: 12px;
    }
    #price-list .prices {
        font-size: 21px;
    }  
}
@media only screen and (max-width: 1449px) and (min-width: 1200px) {
    .gallery-thumb-item:nth-of-type(4n) {
        margin-right: 0;
    }
    #house-wrap p {
        font-size: 15px;
    }
    #house-wrap h1 {
        font-size: 19px;
    }
}
@media only screen and (max-width: 1199px) and (min-width: 900px) {
    .gallery-thumb-item {
        float: left;
        width: 31%;
        margin-right: 3.5%;

        &:nth-of-type(3n) {
            margin-right: 0;
        }
    }
}
@media only screen and (max-width: 899px) and (min-width: 769px) {
    .gallery-thumb-item {
        float: left;
        width: 48%;
        margin-right: 4%;

        &:nth-of-type(2n) {
            margin-right: 0;
        }
    }

}

@media only screen and (max-width: 768px) {
    html, body {
        height: 100%;
        min-height: 100%;
    }

    #header-logo {
        right: auto;
        @include center-align;
    }
    #main-content-logo {
        position: fixed;
        top: 17px;
        right: 10%;
        width: 140px;
        height: 17px;
        z-index: 102;
        background-image: url(../public/img/logo-white.png);
        background-size: contain;
        @include bg-image(center);
    }
    #menu-main-inner {
        width: 90%;
    }
    #menu-main-inner li {
        font-size: 22px;
    }
    #next-page {
        position: fixed;
        top: 60px;
        left: auto;
        right: 20px;
        bottom: 0;
        width: 20px;
        height: 12px;
        margin-top: 0.67em;
        cursor: pointer; 
    }
    #next-page-arrow {
        width: 100%;
        height: 100%;
        @include bg-image(center);
        background-size: contain;
        background-image: url(../public/img/arrow-grey-right.png);
    }
    #page-title {
        display: block;
        position: fixed;
        top: 60px;
        text-align: center;
        text-transform: uppercase;
        @include horizontal-align; 
    }
    #page-title h1 {
        font-family: 'brown';
        font-size: 12px;
    }
    #page-title-line {
        position: absolute;
        width: 16px;
        height: 2px;
        top: 100%;
        margin-top: -2px;
        @include horizontal-align;
    }
    #house-wrap, #booking-wrap {
        position: absolute;
        left: 0;
        width: 100%;
        padding-top: 18vh;
        padding-left: 0px;
    }
    #gallery-wrap {
        position: absolute;
        top: 50px;
        left: 0;
        width: 100%;
        height: calc(100% - 50px);       
    }
    #intro-inner-wrap, #bedroom-inner-wrap, #outside, #relaxation, #extraInfo {
        padding-right: 6.530214426%;
    }
    #intro-top-row {
        padding-left: 0%;
    }
    #intro-text {
        width: 100%;
        padding: 20px;
        margin-right: 0%;
    }
    #intro-img-1 {
        width: 100%;
        @include aspect-ratio(1177, 800);
    }
    #intro-img-2 {
        float: left;
        width: 100%;
        margin-top: 10px;
    }
    #bedRow1 {
        margin-top: 20px;
    }
    #bedText {
        float: left;
        width: 100%;
        margin-left: 0%;
        margin-top: 2em;
    }
    #bed-img-1 {
        float: left;
        width: 100%;
        margin-top: 20px;
    }
    #outsideText, #relaxationText {
        width: 100%;
        margin: 0 0 20px 0;
    }
    #outside-img-1, #relaxation-img-1 {
        width: 100%;
        position: relative;
    }
    #usefulLinks ul {
        float: none;
        width: 100%;
        margin-right: 6.6%;
    }
    .extraRow {
        margin-top: 20px;
    }
    #the-cottage {
        margin-top: 30px;
    }
    #the-cottage, #amenities {
        width: 100%;
        margin-right: 0%;
    }
    #extraRow2 li {
        position: relative;
        display: block;
        float: none;
        width: 100%;
        line-height: 2.8em;
    }
    #usefulLinks {
        margin-top: 20px;
        width: 100%;
    }
    #booking-wrap {
        padding-top: 12vh;
    }
    #content-wrapper {
        float: left;
        margin-left: 0;
        width: 100%;
        padding-left: 6.530214426%;
        padding-right: 6.530214426%;
    }
    #gallery-main-wrap h1 {
        font-size: 14px;

        &:before {
            left: 0;
            top: 100%;
        }
    }
    #close-button {
        top: 12px;
        right: 20px;
    }
    .gallery-thumb-item {
        float: left;
        width: 48%;
        margin-right: 4%;

        h2 {
            font-size: 12px;
        }


        &:nth-of-type(2n) {
            margin-right: 0;
        }
    }

    #gallery-next, #gallery-prev {
        background-color: #f7f7f5;
        width: 50px;
        height: 40px;
        @include vendor-prefix(transform, translate(0%, -50%) rotate(0deg));

        > p {
            position: absolute;
            margin: 0;
            @include center-align;
        }

        &:before {
          display: none;
        }
        &:after {
          display: none;
        }
    }
    #gallery-next {
        right: -25px;
    }
    #gallery-prev {
        left: -25px;
    }
    #slide-info {
        position: absolute;
        left: -1px;
        bottom: -1px;
        width: 30%;
        height: 10%;
        min-width: 101%;
        padding: 10px;
    }
    #index-wrapper {
        float: left;
        left: -10px;
    }
    #slide-info h2 {
        font-size: 16px;
        margin-top: 8px;
        margin-left: 50px;
    }
}
/*@media only screen and (max-width: 768px) {

    #header-logo {
        right: auto;
        @include center-align;
    }
    #main-content-logo {
        top: 17px;
        right: 10%;
        width: 140px;
        height: 17px;
        z-index: 102;
        background-image: url(../public/img/logo-white.png);
    }

    #next-page {
        position: fixed;
        top: 60px;
        left: auto;
        right: 20px;
        bottom: 0;
        width: 20px;
        height: 12px;
        margin-top: 0.67em;
        cursor: pointer; 
    }
    #next-page-arrow {
        width: 100%;
        height: 100%;
        @include bg-image(center);
        background-size: contain;
        background-image: url(../public/img/arrow-grey-right.png);
    }
    #page-title {
        position: fixed;
        top: 60px;
        text-align: center;
        text-transform: uppercase;
        @include horizontal-align; 
    }
    #page-title h1 {
        font-family: 'brown';
        font-size: 12px;
    }
    #page-title-line {
        top: 100%;
        @include horizontal-align;
    }
    #house-wrap, #booking-wrap {
        position: absolute;
        left: 0;
        width: 100%;
        padding-top: 15vh;
        padding-left: 0px;
    }
    #intro-top-row {
        padding-left: 0%;
    }
    #intro-text {
        width: 100%;
        padding: 20px;
        margin-right: 0%;
    }
    #intro-img-2 {
        float: left;
        width: 100%;
        margin-top: 10px;
    }
    #bedRow1 {
        margin-top: 20px;
    }
    #bedText {
        float: left;
        width: 100%;
        margin-left: 0%;
        margin-top: 2em;
    }
    #bed-img-1 {
        float: left;
        width: 100%;
        margin-top: 20px;
    }
    #outsideText, #relaxationText {
        width: 100%;
        margin: 0 0 20px 0;
    }
    #outside-img-1, #relaxation-img-1 {
        width: 100%;
        position: relative;
    }
    .extraRow {
        margin-top: 20px;
    }
    #the-cottage {
        margin-top: 30px;
    }
    #the-cottage, #amenities {
        width: 100%;
        margin-right: 0%;
    }
    #usefulLinks {
        margin-top: 20px;
        width: 100%;
    }
    #booking-wrap {
        padding-top: 12vh;
    }
    #content-wrapper {
        float: left;
        margin-left: 0;
        width: 100%;
        padding-left: 6.530214426%;
        padding-right: 6.530214426%;
    }
}*/
@media only screen and (max-width: 600px) {
 #booking-info {
    width: 100%;
 }
 #booking-download {
    position: relative;
    width: 100%;
    margin: 0;
 }
}
@media only screen and (max-width: 456px) {
 #telephone {
    margin-top: 20px;
 }
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 10px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}