/* HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */
/* line 7, preprocessor/main.scss */
html,
button,
input,
select,
textarea {
  color: #222;
}

/* line 11, preprocessor/main.scss */
html {
  font-size: 1em;
  line-height: 1.4;
}

/* line 15, preprocessor/main.scss */
body {
  margin: 0;
  height: 100%;
  overflow-y: scroll;
}

/* line 20, preprocessor/main.scss */
html, body {
  min-height: 100%;
}

/* line 23, preprocessor/main.scss */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

/* line 28, preprocessor/main.scss */
::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/* line 33, preprocessor/main.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/* line 45, preprocessor/main.scss */
audio,
canvas,
img,
video {
  vertical-align: middle;
}

/* line 49, preprocessor/main.scss */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/* line 55, preprocessor/main.scss */
textarea {
  resize: vertical;
}

/* line 59, preprocessor/main.scss */
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* line 69, preprocessor/main.scss */
a,
a:link,
a:visited,
a:hover,
a:active {
  color: inherit;
  text-decoration: inherit;
  font-weight: inherit;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/*@font-face {
  font-family: 'apercu';
  font-weight: 400;
  src: url('../public/fonts/apercu-webfont.woff') format('woff');
}*/
/* line 181, preprocessor/main.scss */
* {
  font-family: 'avenir';
  -webkit-font-smoothing: antialiased;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 95, preprocessor/main.scss */
*:before, *:after {
  content: "";
  display: table;
}
/* line 99, preprocessor/main.scss */
*:after {
  clear: both;
}

/* line 188, preprocessor/main.scss */
.noScroll {
  overflow: hidden;
}

/* line 192, preprocessor/main.scss */
#reactWrap {
  height: 100%;
  background-color: #f7f7f5;
}

/* line 196, preprocessor/main.scss */
#menu-top-bars {
  position: absolute;
  width: 100%;
  height: 5px;
}

/* line 201, preprocessor/main.scss */
.topBar {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-transition: all 2s;
  -ms-transition: all 2s;
  -moz-transition: all 2s;
  -o-transition: all 2s;
  transition: all 2s;
}

/* line 207, preprocessor/main.scss */
#desktop-menu-bar {
  position: relative;
  top: 0;
  width: 100%;
  height: 136px;
  background-color: #f7f7f5;
  z-index: 100;
}

/* line 215, preprocessor/main.scss */
#desktop-menu-row-1 {
  width: 100%;
  height: 60px;
  padding-top: 20px;
  border-top: 5px solid #eeeeee;
  -webkit-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

/* line 222, preprocessor/main.scss */
#desktop-menu-row-3 {
  margin-top: 50px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

/* line 226, preprocessor/main.scss */
#desktop-menu-bar-logo {
  margin: 0 auto;
  width: 250px;
  height: 40px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  -webkit-transition: opacity 0.1s, transform 0.2s;
  -ms-transition: opacity 0.1s, transform 0.2s;
  -moz-transition: opacity 0.1s, transform 0.2s;
  -o-transition: opacity 0.1s, transform 0.2s;
  transition: opacity 0.1s, transform 0.2s;
  opacity: 1;
}

/* line 240, preprocessor/main.scss */
#desktop-menu {
  width: 40%;
  min-width: 500px;
  max-width: 700px;
  padding: 0;
  margin: 0 auto;
  list-style: none;
  font-size: 11px;
  font-weight: 500;
  text-transform: uppercase;
}

/* line 251, preprocessor/main.scss */
#desktop-menu li {
  position: relative;
  float: left;
  width: 30%;
  padding-bottom: 10px;
  text-align: center;
  cursor: pointer;
}

/* line 260, preprocessor/main.scss */
#desktop-menu a:after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -1px;
  width: 0;
  height: 2px;
}

/* line 271, preprocessor/main.scss */
#desktop-menu a.active:after {
  left: 0%;
  width: 100%;
}

/* line 276, preprocessor/main.scss */
#desktop-menu li:hover {
  font-weight: 600;
}

/* line 279, preprocessor/main.scss */
#desktop-menu li:nth-of-type(1), #desktop-menu li:nth-of-type(2) {
  margin-right: 3.33%;
}

/* line 284, preprocessor/main.scss */
#desktop-menu li:nth-of-type(1) > a:after {
  background-color: #A6E8D2;
}

/* line 291, preprocessor/main.scss */
#desktop-menu li:nth-of-type(2) > a:after {
  background-color: #cadffe;
}

/* line 298, preprocessor/main.scss */
#desktop-menu li:nth-of-type(3) > a:after {
  background-color: #EFC38D;
}

/* line 303, preprocessor/main.scss */
#desktop-menu li:nth-of-type(1):hover {
  color: #A6E8D2;
}

/* line 306, preprocessor/main.scss */
#desktop-menu li:nth-of-type(2):hover {
  color: #cadffe;
}

/* line 309, preprocessor/main.scss */
#desktop-menu li:nth-of-type(3):hover {
  color: #EFC38D;
}

/* line 312, preprocessor/main.scss */
#desktop-menu-bar.scrolled {
  position: fixed;
  height: 61px;
  -webkit-transition: all 0.1s;
  -ms-transition: all 0.1s;
  -moz-transition: all 0.1s;
  -o-transition: all 0.1s;
  transition: all 0.1s;
}
/* line 317, preprocessor/main.scss */
#desktop-menu-bar.scrolled #desktop-menu-row-1 {
  height: 0;
}
/* line 321, preprocessor/main.scss */
#desktop-menu-bar.scrolled #desktop-menu-row-3 {
  margin-top: 10px;
}
/* line 325, preprocessor/main.scss */
#desktop-menu-bar.scrolled #desktop-menu-bar-logo {
  opacity: 0;
  -webkit-transform: translateY(-20px);
  -ms-transform: translateY(-20px);
  -moz-transform: translateY(-20px);
  -o-transform: translateY(-20px);
  transform: translateY(-20px);
}

/* line 330, preprocessor/main.scss */
#desktop-menu-bar.dark {
  background-color: #171717;
  color: #f7f7f5;
  border-bottom: 1px solid rgba(0, 0, 0, 0.9);
}

/* line 335, preprocessor/main.scss */
#sub-menu-bg {
  position: fixed;
  background-color: #f7f7f5;
  top: 50px;
  width: 100%;
  height: 55px;
  z-index: 10;
}

/* line 343, preprocessor/main.scss */
#next-page {
  position: fixed;
  left: 70px;
  bottom: 0;
  width: 100px;
  height: 150px;
  cursor: pointer;
  z-index: 11;
}

/* line 353, preprocessor/main.scss */
#next-page-line {
  position: relative;
  float: left;
  top: 100%;
  width: 3px;
  height: 100%;
  background-color: #ffffff;
  -webkit-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

/* line 362, preprocessor/main.scss */
#next-page-text {
  position: relative;
  width: calc(100% - 23px);
  top: 0;
  margin-left: 20px;
  float: left;
  color: white;
  text-transform: uppercase;
  font-family: 'brown';
  font-size: 12px;
  font-weight: 800;
  -webkit-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-transform: translateY(20px);
  -ms-transform: translateY(20px);
  -moz-transform: translateY(20px);
  -o-transform: translateY(20px);
  transform: translateY(20px);
}

/* line 376, preprocessor/main.scss */
#next-page:hover #next-page-text {
  -webkit-transform: translateY(0px);
  -ms-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -o-transform: translateY(0px);
  transform: translateY(0px);
}
/* line 379, preprocessor/main.scss */
#next-page:hover #next-page-text:after {
  content: '';
  width: 9px;
  height: 20px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

/* line 388, preprocessor/main.scss */
#menu-main-wrap {
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: 100;
}

/* line 394, preprocessor/main.scss */
#menu-main-inner {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/* line 398, preprocessor/main.scss */
#menu-main-inner ul {
  list-style: none;
  text-align: center;
  padding: 0;
}

/* line 403, preprocessor/main.scss */
#menu-main-inner li {
  color: #ffffff;
  font-size: 26px;
  margin-bottom: 2em;
  cursor: pointer;
}

/* line 409, preprocessor/main.scss */
#menu-main-inner li span {
  border-bottom: 2px solid #ffffff;
}

/* line 412, preprocessor/main.scss */
#side-menu-bar, #top-menu-bar {
  z-index: 102;
}

/* line 415, preprocessor/main.scss */
#side-menu-bar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
}

/* line 421, preprocessor/main.scss */
#top-menu-bar {
  position: fixed;
  width: 100%;
  height: 50px;
}

/* line 426, preprocessor/main.scss */
#top-menu-bg {
  width: 100%;
  height: 100%;
}

/* line 430, preprocessor/main.scss */
#side-menu-bg {
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

/* line 435, preprocessor/main.scss */
#menu-button {
  position: absolute;
  top: 20px;
  width: 18px;
  height: 10px;
  cursor: pointer;
  z-index: 101;
}

/* line 443, preprocessor/main.scss */
#side-menu-bar #menu-button {
  top: 20px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}

/* line 447, preprocessor/main.scss */
#top-menu-bar #menu-button {
  left: 16px;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%);
}

/* line 451, preprocessor/main.scss */
#menu-button span {
  display: inline-block;
  position: absolute;
  top: 0;
  width: 100%;
  height: 2px;
  background-color: #ffffff;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%);
}
/* line 460, preprocessor/main.scss */
#menu-button span:after, #menu-button span:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #ffffff;
}
/* line 468, preprocessor/main.scss */
#menu-button span:before {
  top: -4px;
}
/* line 471, preprocessor/main.scss */
#menu-button span:after {
  bottom: -4px;
}

/* line 475, preprocessor/main.scss */
#menu-button.isOpen span {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
/* line 477, preprocessor/main.scss */
#menu-button.isOpen span:before {
  top: 0px;
  opacity: 0;
}
/* line 481, preprocessor/main.scss */
#menu-button.isOpen span:after {
  bottom: 0px;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}

/* line 486, preprocessor/main.scss */
#side-page-title {
  position: fixed;
  top: 60px;
  left: 20px;
  text-transform: uppercase;
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
  z-index: 11;
}

/* line 494, preprocessor/main.scss */
#page-title-line {
  position: absolute;
  left: -20px;
  top: 50%;
  width: 16px;
  height: 2px;
  margin-top: -2px;
}

/* line 503, preprocessor/main.scss */
#side-page-title h1 {
  font-family: 'brown';
  font-size: 12px;
}

/* line 507, preprocessor/main.scss */
p {
  font-family: 'brandon text';
  font-size: 14px;
  font-weight: 200;
  line-height: 1.7em;
  margin: 0;
}

/* line 514, preprocessor/main.scss */
#house-wrap, #booking-wrap, #gallery-wrap {
  position: relative;
  left: 0px;
  width: 100%;
  background-color: #f7f7f5;
}

/* line 520, preprocessor/main.scss */
.multi-col {
  float: left;
}

/* line 531, preprocessor/main.scss */
#header-image {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
/* line 536, preprocessor/main.scss */
#header-image:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(157, 219, 220, 0.81);
  z-index: 1;
}

/* line 545, preprocessor/main.scss */
#intro-vid {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background-size: cover;
}

/* line 557, preprocessor/main.scss */
#header-logo {
  position: absolute;
  right: 30%;
  width: 235px;
  height: 36px;
  background-image: url(../public/img/logo-white.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%);
  z-index: 2;
}

/* line 576, preprocessor/main.scss */
#house-wrap {
  padding-top: 60px;
  padding-left: 50px;
}

/* line 581, preprocessor/main.scss */
#intro-img-1 {
  width: 100%;
  position: relative;
}
/* line 148, preprocessor/main.scss */
#intro-img-1:before {
  display: block;
  content: "";
  width: 100%;
  padding-top: 46.04928%;
}
/* line 154, preprocessor/main.scss */
#intro-img-1 > .content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

/* line 585, preprocessor/main.scss */
#intro-img-2 {
  float: right;
  width: 47%;
  margin-top: 60px;
  position: relative;
}
/* line 148, preprocessor/main.scss */
#intro-img-2:before {
  display: block;
  content: "";
  width: 100%;
  padding-top: 56.0%;
}
/* line 154, preprocessor/main.scss */
#intro-img-2 > .content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

/* line 591, preprocessor/main.scss */
#intro-img-3 {
  width: 62.573099415%;
  margin-right: 3.39%;
  position: relative;
}
/* line 148, preprocessor/main.scss */
#intro-img-3:before {
  display: block;
  content: "";
  width: 100%;
  padding-top: 70.2454%;
}
/* line 154, preprocessor/main.scss */
#intro-img-3 > .content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

/* line 596, preprocessor/main.scss */
#intro-img-4 {
  width: 34.03%;
  position: relative;
}
/* line 148, preprocessor/main.scss */
#intro-img-4:before {
  display: block;
  content: "";
  width: 100%;
  padding-top: 129.37853%;
}
/* line 154, preprocessor/main.scss */
#intro-img-4 > .content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

/* line 600, preprocessor/main.scss */
#bed-img-1 {
  width: 43.8596491%;
  position: relative;
}
/* line 148, preprocessor/main.scss */
#bed-img-1:before {
  display: block;
  content: "";
  width: 100%;
  padding-top: 65.11111%;
}
/* line 154, preprocessor/main.scss */
#bed-img-1 > .content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

/* line 604, preprocessor/main.scss */
#bed-img-2, #bed-img-3, #bed-img-4 {
  width: 28.0701754%;
  position: relative;
}
/* line 148, preprocessor/main.scss */
#bed-img-2:before, #bed-img-3:before, #bed-img-4:before {
  display: block;
  content: "";
  width: 100%;
  padding-top: 80.34483%;
}
/* line 154, preprocessor/main.scss */
#bed-img-2 > .content, #bed-img-3 > .content, #bed-img-4 > .content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

/* line 608, preprocessor/main.scss */
#bed-img-2, #bed-img-3 {
  margin-right: 7.8947369%;
}

/* line 611, preprocessor/main.scss */
#outside-img-1 {
  width: 53.216374269%;
  position: relative;
}
/* line 148, preprocessor/main.scss */
#outside-img-1:before {
  display: block;
  content: "";
  width: 100%;
  padding-top: 49.81685%;
}
/* line 154, preprocessor/main.scss */
#outside-img-1 > .content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

/* line 615, preprocessor/main.scss */
#relaxation-img-1 {
  width: 43.85%;
  position: relative;
}
/* line 148, preprocessor/main.scss */
#relaxation-img-1:before {
  display: block;
  content: "";
  width: 100%;
  padding-top: 60.88889%;
}
/* line 154, preprocessor/main.scss */
#relaxation-img-1 > .content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

/* line 619, preprocessor/main.scss */
.content {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/* line 623, preprocessor/main.scss */
#intro-inner-wrap, #bedroom-inner-wrap, #outside, #relaxation, #extraInfo {
  width: 100%;
  padding-left: 6.530214426%;
  padding-right: 50px;
}

/* line 628, preprocessor/main.scss */
#intro-top-row {
  position: relative;
  padding-left: 6.432748538%;
  margin-bottom: 3.39%;
}

/* line 633, preprocessor/main.scss */
#intro-text {
  width: 49.6410579%;
  padding: 20px;
  margin-right: 2.6%;
  background-color: #f7f7f5;
  -webkit-transform: translateY(-38px);
  -ms-transform: translateY(-38px);
  -moz-transform: translateY(-38px);
  -o-transform: translateY(-38px);
  transform: translateY(-38px);
}

/* line 640, preprocessor/main.scss */
#house-content-wrap h1 {
  font-weight: 500;
  font-size: 18px;
  margin: 0 0 2em 0;
}

/* line 645, preprocessor/main.scss */
#bedRow1 {
  margin-top: 100px;
}

/* line 648, preprocessor/main.scss */
#bedRow2 {
  margin-top: 50px;
  margin-bottom: 50px;
}

/* line 652, preprocessor/main.scss */
#bedText {
  width: 32.86%;
  margin-left: 12.2807018%;
  margin-top: 2em;
}

/* line 657, preprocessor/main.scss */
#outside {
  position: relative;
  margin-bottom: 50px;
}

/* line 661, preprocessor/main.scss */
#outsideText {
  position: relative;
  width: 34.502924%;
  margin-left: 9.356725146%;
  margin-right: 2.923976608%;
}

/* line 667, preprocessor/main.scss */
#relaxationText {
  width: 34.502923976%;
  margin-left: 12.280701754%;
  margin-right: 9.35673%;
}

/* line 672, preprocessor/main.scss */
#extraInfo {
  margin-bottom: 160px;
}

/* line 675, preprocessor/main.scss */
.extraRow {
  margin-top: 50px;
}

/* line 678, preprocessor/main.scss */
#extraRow1 li {
  margin-bottom: 0.3em;
}

/* line 681, preprocessor/main.scss */
#extraRow1 span {
  display: inline-block;
  margin-right: 0.6em;
}

/* line 685, preprocessor/main.scss */
#extraRow2 li {
  position: relative;
  display: inline;
  float: left;
  width: 50%;
  line-height: 2.8em;
}

/* line 692, preprocessor/main.scss */
#extraRow2 span {
  display: inline-block;
}

/* line 695, preprocessor/main.scss */
.extra-col {
  padding-top: 1em;
  border-top: 2px solid #b6bfc9;
}

/* line 699, preprocessor/main.scss */
#extraInfo ul, #extraInfo li {
  list-style: none;
  padding: 0;
  color: #8b8888;
  font-size: 15px;
}

/* line 705, preprocessor/main.scss */
#the-cottage ul {
  margin-top: 50px;
}

/* line 708, preprocessor/main.scss */
#the-cottage li {
  margin-bottom: 0.7em;
}

/* line 711, preprocessor/main.scss */
#extraInfo .list-bold {
  font-weight: 600;
}

/* line 714, preprocessor/main.scss */
#the-cottage, #amenities {
  width: 53.118908382%;
  margin-right: 2.923976608%;
}

/* line 718, preprocessor/main.scss */
#usefulLinks {
  width: 43.859649122%;
}

/* line 721, preprocessor/main.scss */
#usefulLinks ul {
  float: left;
  width: 36%;
  margin-right: 6.6%;
}

/* line 726, preprocessor/main.scss */
#usefulLinks li.title {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 12px;
}

/* line 731, preprocessor/main.scss */
#usefulLinks li.link {
  text-decoration: underline;
}

/* line 734, preprocessor/main.scss */
.amenities-icon {
  position: absolute;
  width: 30px;
  height: 26px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%);
}

/* line 742, preprocessor/main.scss */
.amenities-text {
  margin-left: 40px;
}

/* line 751, preprocessor/main.scss */
#gallery-wrap {
  height: calc(100vh - 136px);
  padding: 0;
}
/* line 755, preprocessor/main.scss */
#gallery-wrap.videoPlaying {
  height: 100vh;
}

/* line 759, preprocessor/main.scss */
#gallery-slideshow {
  position: absolute;
  width: 80%;
  height: 80%;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/* line 765, preprocessor/main.scss */
#gallery-slide {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/* line 771, preprocessor/main.scss */
#slide-info {
  position: absolute;
  left: -1px;
  bottom: -20px;
  width: 30%;
  height: 20%;
  min-width: 300px;
  background-color: #f7f7f5;
  padding: 20px;
}

/* line 781, preprocessor/main.scss */
#index-wrapper {
  position: relative;
  width: 34px;
  height: 34px;
  margin-bottom: 20px;
}
/* line 787, preprocessor/main.scss */
#index-wrapper:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  height: 2px;
  width: 80%;
  background-color: #bbb;
  -webkit-transform: translate(-50%, -50%) rotate(-60deg);
  -ms-transform: translate(-50%, -50%) rotate(-60deg);
  -moz-transform: translate(-50%, -50%) rotate(-60deg);
  -o-transform: translate(-50%, -50%) rotate(-60deg);
  transform: translate(-50%, -50%) rotate(-60deg);
}

/* line 798, preprocessor/main.scss */
#slide-info h5, #slide-info h2 {
  margin: 0;
}

/* line 801, preprocessor/main.scss */
#slide-info h5 > * {
  font-family: 'brandon text' !important;
  color: #bbb;
}

/* line 805, preprocessor/main.scss */
#slide-info h2 {
  font-size: 26px;
  font-weight: 200;
}

/* line 809, preprocessor/main.scss */
#slide-info h5 span {
  position: absolute;
}

/* line 812, preprocessor/main.scss */
#slide-info #index-total {
  -webkit-transform: translate(20px, 16px);
  -ms-transform: translate(20px, 16px);
  -moz-transform: translate(20px, 16px);
  -o-transform: translate(20px, 16px);
  transform: translate(20px, 16px);
}

/* line 815, preprocessor/main.scss */
#gallery-next, #gallery-prev {
  position: absolute;
  top: 50%;
  height: 20px;
  width: 40px;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
  color: #aaaaaa;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
/* line 833, preprocessor/main.scss */
#gallery-next > p, #gallery-prev > p {
  font-size: 12px;
  font-weight: 500;
}
/* line 838, preprocessor/main.scss */
#gallery-next:before, #gallery-prev:before {
  content: "";
  position: absolute;
  width: 0;
  left: 50%;
  height: 2px;
  bottom: -5px;
  left: 0;
  background-color: #000;
  visibility: hidden;
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
  z-index: 1;
}
/* line 852, preprocessor/main.scss */
#gallery-next:after, #gallery-prev:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -5px;
  left: 0;
  background-color: #eeeeee;
}
/* line 862, preprocessor/main.scss */
#gallery-next:hover, #gallery-prev:hover {
  color: #000000;
}
/* line 864, preprocessor/main.scss */
#gallery-next:hover:before, #gallery-prev:hover:before {
  visibility: visible;
  width: 100%;
}

/* line 872, preprocessor/main.scss */
#gallery-next {
  right: -71px;
  -webkit-transform: translate(0%, -50%) rotate(90deg);
  -ms-transform: translate(0%, -50%) rotate(90deg);
  -moz-transform: translate(0%, -50%) rotate(90deg);
  -o-transform: translate(0%, -50%) rotate(90deg);
  transform: translate(0%, -50%) rotate(90deg);
}

/* line 876, preprocessor/main.scss */
#gallery-prev {
  left: -71px;
  -webkit-transform: translate(0%, -50%) rotate(-90deg);
  -ms-transform: translate(0%, -50%) rotate(-90deg);
  -moz-transform: translate(0%, -50%) rotate(-90deg);
  -o-transform: translate(0%, -50%) rotate(-90deg);
  transform: translate(0%, -50%) rotate(-90deg);
}

/* line 881, preprocessor/main.scss */
#play-button {
  position: absolute;
  width: 100px;
  height: 100px;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  cursor: pointer;
}
/* line 888, preprocessor/main.scss */
#play-button .circle {
  stroke: #ffffff;
  stroke-dasharray: 650;
  stroke-dashoffset: 650;
  -webkit-transition: all 0.5s ease-in-out;
  opacity: 0.3;
}
/* line 895, preprocessor/main.scss */
#play-button .triangle {
  -webkit-transition: all 0.7s ease-in-out;
  stroke-dasharray: 240;
  stroke-dashoffset: 480;
  stroke: #ffffff;
  transform: translateY(0);
}
/* line 903, preprocessor/main.scss */
#play-button:hover .triangle {
  stroke-dashoffset: 0;
  opacity: 1;
  stroke: #ffffff;
}
/* line 908, preprocessor/main.scss */
#play-button:hover .circle {
  stroke-dashoffset: 0;
  opacity: 1;
}

/* line 915, preprocessor/main.scss */
#video-player-wrap {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 103;
}

/* line 921, preprocessor/main.scss */
.youtube-video {
  position: absolute;
  width: 81%;
  height: 72%;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/* line 933, preprocessor/main.scss */
#booking-wrap {
  padding-top: 60px;
}

/* line 936, preprocessor/main.scss */
#booking {
  margin-bottom: 60px;
}

/* line 939, preprocessor/main.scss */
#booking-contact-buttons {
  position: fixed;
  float: left;
  width: 20.13536379%;
  margin-left: 11.590524534%;
}

/* line 945, preprocessor/main.scss */
#booking-contact-buttons ul {
  list-style: none;
  line-height: 1.2em;
}

/* line 949, preprocessor/main.scss */
#booking-contact-buttons li {
  position: relative;
  font-size: 10px;
  text-transform: uppercase;
  font-weight: 600;
  color: #b6bfc9;
  cursor: pointer;
}

/* line 957, preprocessor/main.scss */
#booking-contact-buttons li.active {
  color: #3a3939;
  margin-left: 30px;
}
/* line 961, preprocessor/main.scss */
#booking-contact-buttons li.active:after {
  position: absolute;
  content: '';
  left: -30px;
  width: 20px;
  height: 2px;
  background-color: #3a3939;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%);
}

/* line 971, preprocessor/main.scss */
#content-wrapper {
  float: left;
  margin-left: 34.26395939%;
  width: 59.221658206%;
}

/* line 977, preprocessor/main.scss */
#bookingRow1,
#contactRow1 {
  margin-bottom: 50px;
}

/* line 980, preprocessor/main.scss */
#contactRow1 {
  border-top: 2px solid #b6bfc9;
}

/* line 983, preprocessor/main.scss */
#bookingRow1 h1, #contactRow1 h1 {
  font-weight: 500;
  font-size: 18px;
  margin: 0.6em 0 2em 0;
}

/* line 989, preprocessor/main.scss */
#bookingRow2 h1,
#contact-detail-row h1 {
  font-weight: 600;
  font-size: 11px;
  margin: 0.6em 0 2em 0;
  text-transform: uppercase;
}

/* line 995, preprocessor/main.scss */
#bookingRow2 h1 span {
  padding-top: 8px;
  border-top: 2px solid #EFC38D;
}

/* line 999, preprocessor/main.scss */
#contact-detail-row h1 span {
  padding-bottom: 8px;
  border-bottom: 2px solid #EFC38D;
}

/* line 1003, preprocessor/main.scss */
#booking-info {
  width: 63.714285714%;
}

/* line 1006, preprocessor/main.scss */
#booking-download {
  position: relative;
  width: 27.428571428%;
  margin: 0 3.142857142% 0 5.714285714%;
}

/* line 1011, preprocessor/main.scss */
#download-innerwrap {
  position: absolute;
  width: 100%;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/* line 1016, preprocessor/main.scss */
#booking-download h1 {
  margin-top: 0;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.1em;
}

/* line 1024, preprocessor/main.scss */
#download-button {
  position: relative;
  margin: 0 auto;
  width: 87px;
  padding: 10px 6px;
  font-size: 9px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.1em;
  border: 2px solid #3a3939;
  cursor: pointer;
}

/* line 1036, preprocessor/main.scss */
#price-list {
  padding: 0;
  list-style: none;
}

/* line 1040, preprocessor/main.scss */
#price-list span {
  display: inline-block;
}

/* line 1043, preprocessor/main.scss */
#price-list li {
  width: 50%;
  float: left;
  line-height: 1.4em;
  margin-bottom: 1.6em;
}

/* line 1049, preprocessor/main.scss */
#price-list .prices {
  font-size: 21px;
  font-weight: 600;
  margin-right: 1em;
  padding-bottom: 4px;
}

/* line 1055, preprocessor/main.scss */
#price-list {
  font-size: 0.6em;
}

/* line 1058, preprocessor/main.scss */
.currency {
  font-size: 0.8em;
}

/* line 1061, preprocessor/main.scss */
#contact-detail-row {
  margin-bottom: 30px;
}

/* line 1064, preprocessor/main.scss */
#address {
  margin-right: 20%;
}

/* line 1067, preprocessor/main.scss */
#contact-detail-row h2 {
  font-size: 14px;
  text-transform: uppercase;
}

/* line 1071, preprocessor/main.scss */
#contact-detail-row p {
  margin-top: 29px;
  line-height: 1em;
}

/* line 1075, preprocessor/main.scss */
#map-wrap {
  display: block;
  position: relative;
  width: 100%;
  padding-bottom: 75%;
}

/* line 1081, preprocessor/main.scss */
#map-content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */
@media only screen and (max-width: 768px) {
  /* line 1096, preprocessor/main.scss */
  html, body {
    height: 100%;
    min-height: 100%;
  }

  /* line 1101, preprocessor/main.scss */
  #header-logo {
    right: auto;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  /* line 1105, preprocessor/main.scss */
  #main-content-logo {
    position: fixed;
    top: 17px;
    right: 10%;
    width: 140px;
    height: 17px;
    z-index: 102;
    background-image: url(../public/img/logo-white.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  /* line 1116, preprocessor/main.scss */
  #menu-main-inner {
    width: 90%;
  }

  /* line 1119, preprocessor/main.scss */
  #menu-main-inner li {
    font-size: 22px;
  }

  /* line 1122, preprocessor/main.scss */
  #next-page {
    position: fixed;
    top: 60px;
    left: auto;
    right: 20px;
    bottom: 0;
    width: 20px;
    height: 12px;
    margin-top: 0.67em;
    cursor: pointer;
  }

  /* line 1133, preprocessor/main.scss */
  #next-page-arrow {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-image: url(../public/img/arrow-grey-right.png);
  }

  /* line 1140, preprocessor/main.scss */
  #side-page-title {
    position: fixed;
    top: 60px;
    text-align: center;
    text-transform: uppercase;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
  }

  /* line 1147, preprocessor/main.scss */
  #side-page-title h1 {
    font-family: 'brown';
    font-size: 12px;
  }

  /* line 1151, preprocessor/main.scss */
  #page-title-line {
    top: 100%;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
  }

  /* line 1155, preprocessor/main.scss */
  #house-wrap, #booking-wrap {
    position: absolute;
    left: 0;
    width: 100%;
    padding-top: 18vh;
    padding-left: 0px;
  }

  /* line 1162, preprocessor/main.scss */
  #gallery-wrap {
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    height: calc(100% - 50px);
  }

  /* line 1169, preprocessor/main.scss */
  #intro-inner-wrap, #bedroom-inner-wrap, #outside, #relaxation, #extraInfo {
    padding-right: 6.530214426%;
  }

  /* line 1172, preprocessor/main.scss */
  #intro-top-row {
    padding-left: 0%;
  }

  /* line 1175, preprocessor/main.scss */
  #intro-text {
    width: 100%;
    padding: 20px;
    margin-right: 0%;
  }

  /* line 1180, preprocessor/main.scss */
  #intro-img-1 {
    width: 100%;
    position: relative;
  }
  /* line 148, preprocessor/main.scss */
  #intro-img-1:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: 67.96941%;
  }
  /* line 154, preprocessor/main.scss */
  #intro-img-1 > .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  /* line 1184, preprocessor/main.scss */
  #intro-img-2 {
    float: left;
    width: 100%;
    margin-top: 10px;
  }

  /* line 1189, preprocessor/main.scss */
  #bedRow1 {
    margin-top: 20px;
  }

  /* line 1192, preprocessor/main.scss */
  #bedText {
    float: left;
    width: 100%;
    margin-left: 0%;
    margin-top: 2em;
  }

  /* line 1198, preprocessor/main.scss */
  #bed-img-1 {
    float: left;
    width: 100%;
    margin-top: 20px;
  }

  /* line 1203, preprocessor/main.scss */
  #outsideText, #relaxationText {
    width: 100%;
    margin: 0 0 20px 0;
  }

  /* line 1207, preprocessor/main.scss */
  #outside-img-1, #relaxation-img-1 {
    width: 100%;
    position: relative;
  }

  /* line 1211, preprocessor/main.scss */
  #usefulLinks ul {
    float: none;
    width: 100%;
    margin-right: 6.6%;
  }

  /* line 1216, preprocessor/main.scss */
  .extraRow {
    margin-top: 20px;
  }

  /* line 1219, preprocessor/main.scss */
  #the-cottage {
    margin-top: 30px;
  }

  /* line 1222, preprocessor/main.scss */
  #the-cottage, #amenities {
    width: 100%;
    margin-right: 0%;
  }

  /* line 1226, preprocessor/main.scss */
  #extraRow2 li {
    position: relative;
    display: block;
    float: none;
    width: 100%;
    line-height: 2.8em;
  }

  /* line 1233, preprocessor/main.scss */
  #usefulLinks {
    margin-top: 20px;
    width: 100%;
  }

  /* line 1237, preprocessor/main.scss */
  #booking-wrap {
    padding-top: 12vh;
  }

  /* line 1240, preprocessor/main.scss */
  #content-wrapper {
    float: left;
    margin-left: 0;
    width: 100%;
    padding-left: 6.530214426%;
    padding-right: 6.530214426%;
  }

  /* line 1247, preprocessor/main.scss */
  #gallery-next, #gallery-prev {
    background-color: #f7f7f5;
    width: 50px;
    height: 40px;
    -webkit-transform: translate(0%, -50%) rotate(0deg);
    -ms-transform: translate(0%, -50%) rotate(0deg);
    -moz-transform: translate(0%, -50%) rotate(0deg);
    -o-transform: translate(0%, -50%) rotate(0deg);
    transform: translate(0%, -50%) rotate(0deg);
  }
  /* line 1253, preprocessor/main.scss */
  #gallery-next > p, #gallery-prev > p {
    position: absolute;
    margin: 0;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  /* line 1259, preprocessor/main.scss */
  #gallery-next:before, #gallery-prev:before {
    display: none;
  }
  /* line 1262, preprocessor/main.scss */
  #gallery-next:after, #gallery-prev:after {
    display: none;
  }

  /* line 1266, preprocessor/main.scss */
  #gallery-next {
    right: -25px;
  }

  /* line 1269, preprocessor/main.scss */
  #gallery-prev {
    left: -25px;
  }

  /* line 1272, preprocessor/main.scss */
  #slide-info {
    position: absolute;
    left: -1px;
    bottom: 0;
    width: 30%;
    height: 10%;
    min-width: 101%;
    padding: 10px;
  }

  /* line 1281, preprocessor/main.scss */
  #index-wrapper {
    float: left;
  }

  /* line 1284, preprocessor/main.scss */
  #slide-info h2 {
    font-size: 16px;
    margin-top: 8px;
    margin-left: 50px;
  }
}
/*@media only screen and (max-width: 768px) {

    #header-logo {
        right: auto;
        @include center-align;
    }
    #main-content-logo {
        top: 17px;
        right: 10%;
        width: 140px;
        height: 17px;
        z-index: 102;
        background-image: url(../public/img/logo-white.png);
    }

    #next-page {
        position: fixed;
        top: 60px;
        left: auto;
        right: 20px;
        bottom: 0;
        width: 20px;
        height: 12px;
        margin-top: 0.67em;
        cursor: pointer; 
    }
    #next-page-arrow {
        width: 100%;
        height: 100%;
        @include bg-image(center);
        background-size: contain;
        background-image: url(../public/img/arrow-grey-right.png);
    }
    #side-page-title {
        position: fixed;
        top: 60px;
        text-align: center;
        text-transform: uppercase;
        @include horizontal-align; 
    }
    #side-page-title h1 {
        font-family: 'brown';
        font-size: 12px;
    }
    #page-title-line {
        top: 100%;
        @include horizontal-align;
    }
    #house-wrap, #booking-wrap {
        position: absolute;
        left: 0;
        width: 100%;
        padding-top: 15vh;
        padding-left: 0px;
    }
    #intro-top-row {
        padding-left: 0%;
    }
    #intro-text {
        width: 100%;
        padding: 20px;
        margin-right: 0%;
    }
    #intro-img-2 {
        float: left;
        width: 100%;
        margin-top: 10px;
    }
    #bedRow1 {
        margin-top: 20px;
    }
    #bedText {
        float: left;
        width: 100%;
        margin-left: 0%;
        margin-top: 2em;
    }
    #bed-img-1 {
        float: left;
        width: 100%;
        margin-top: 20px;
    }
    #outsideText, #relaxationText {
        width: 100%;
        margin: 0 0 20px 0;
    }
    #outside-img-1, #relaxation-img-1 {
        width: 100%;
        position: relative;
    }
    .extraRow {
        margin-top: 20px;
    }
    #the-cottage {
        margin-top: 30px;
    }
    #the-cottage, #amenities {
        width: 100%;
        margin-right: 0%;
    }
    #usefulLinks {
        margin-top: 20px;
        width: 100%;
    }
    #booking-wrap {
        padding-top: 12vh;
    }
    #content-wrapper {
        float: left;
        margin-left: 0;
        width: 100%;
        padding-left: 6.530214426%;
        padding-right: 6.530214426%;
    }
}*/
@media only screen and (max-width: 600px) {
  /* line 1406, preprocessor/main.scss */
  #booking-info {
    width: 100%;
  }

  /* line 1409, preprocessor/main.scss */
  #booking-download {
    position: relative;
    width: 100%;
    margin: 0;
  }
}
@media only screen and (max-width: 456px) {
  /* line 1416, preprocessor/main.scss */
  #telephone {
    margin-top: 20px;
  }
}
/* ==========================================================================
   Helper classes
   ========================================================================== */
/* line 1432, preprocessor/main.scss */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  *text-indent: -9999px;
}

/* line 1439, preprocessor/main.scss */
.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%;
}

/* line 1446, preprocessor/main.scss */
.hidden {
  display: none !important;
  visibility: hidden;
}

/* line 1451, preprocessor/main.scss */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 10px;
}

/* line 1463, preprocessor/main.scss */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/* line 1472, preprocessor/main.scss */
.invisible {
  visibility: hidden;
}

/* line 1477, preprocessor/main.scss */
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

/* line 1482, preprocessor/main.scss */
.clearfix:after {
  clear: both;
}

/* line 1486, preprocessor/main.scss */
.clearfix {
  *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */
@media print {
  /* line 1495, preprocessor/main.scss */
  * {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  /* line 1503, preprocessor/main.scss */
  a,
  a:visited {
    text-decoration: underline;
  }

  /* line 1507, preprocessor/main.scss */
  a[href]:after {
    content: " (" attr(href) ")";
  }

  /* line 1511, preprocessor/main.scss */
  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /* line 1517, preprocessor/main.scss */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

  /* line 1522, preprocessor/main.scss */
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /* line 1527, preprocessor/main.scss */
  thead {
    display: table-header-group;
  }

  /* line 1532, preprocessor/main.scss */
  tr,
  img {
    page-break-inside: avoid;
  }

  /* line 1536, preprocessor/main.scss */
  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
}

  /* line 1546, preprocessor/main.scss */
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  /* line 1552, preprocessor/main.scss */
  h2,
  h3 {
    page-break-after: avoid;
  }
}
